

.name {
    font-size: 20px;
}

.avatar {
    width: 52px;
}


.status_online {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    background-color: green;
}

.status_offline {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    background-color: red;
}