.transaction_history {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.transaction_body {
  background-color: #ffffff;
}

.thead {
  background-color: #4dbecd;
  color: #ffffff;
}

.tr_thead {
  text-align: center;
}

.th_thead {
  width: 20%;
  padding: 12px 0;
}


.td_thead {
  width: 20%;
  padding: 12px;
  text-align: center;
}

.tr_body:nth-child(2n) {
  background-color: rgb(199, 199, 203);
}
